.container {
    width: 1000px;
}

.aside-nav {
    float: right;
    margin: 10px;
    text-align: left;
    position: sticky;
    top: 9%;
    display: flex;
    justify-content: center;
    align-items: right;
    padding-top: 10px;
}

.img1 {
    border-radius: 15px;

}

.h1 {
    padding: 30px;
    color: rgba(121, 82, 82, 1);
    text-align: left;
    text-decoration: solid underline;
}

.cardtitle,
.cardtext {
    padding: 15px;
    color: rgba(121, 82, 82, 1);

}

.card-img-top {
    height: 150px;
    width: 200px;
    border-radius: 15px;
}

.content {
    display: flex;
    max-width: 680px;
    height: 300.8050842285156px;
    border-radius: 15px;
    border-color: solid 2px rgba(121, 82, 82, 1);
    border-width: 1px;
    background-color: rgba(121, 82, 82, 0.5);



}

.comments {
    max-width: 680px;
    width: 640px;
    color: rgba(121, 82, 82, 1);


}