.container{
    padding-left: 20%;
    width: 1440px;
    height: auto;
}
.aside-nav{
    float: right;
    margin: 10px;
    text-align: left;
    position: sticky;
    top: 9%;
    display: flex;
    justify-content: center;
    align-items: right;
    /* background-color: blueviolet; */
}
.h1{
    padding:30px;
}

.cardtitle,.cardtext{
    padding: 15px;
}

.card-img-top{
    height: 100px;
    width: 200px;
}

.content{
    display: flex;
          max-width: 642px;
          height: 300.8050842285156px;
          border-radius: 15px;
          border-color: rgba(121, 82, 82, 1);
          border-width: 1px;
          border-style: solid;
          background-color: rgba(244, 239, 239, 1);

}
.comments{
    min-height: 100px;
    width: 640px;   

}



