body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    

}

.title {
    text-align: center;
}


.mainbody {
    margin: 1.5em 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
    
}

.item {
    display: inline-block;
    background: rgb(121, 83, 83, 0.8);
    padding-bottom: 1em;
    margin: 0 0 3em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item img {
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icon-trash {
    padding-left: 10px;
    font-size: 1.5em;
    color: #472929;
}

.icon-edit {
    padding-left: 70%;
    font-size: 1.5em;
    color: #472929;
}
.loadBtn{
    width: 100%;
    height: 40px;
    color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(  white, #472929);
    border-radius: 5px;
    position: relative;
    border: none;
    
}
.loadBtn:hover {
    font-size: scale(1.5);
    transform: scale(1.03);

}

#react-waterfall-grid-comps li>div {
    border-radius: 8px;
    font-size: 20px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    padding: 6px;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.01s;
  
  
  }
  #react-waterfall-grid-comps li>div:hover {
    transform: translateY(-6px);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    transition: all 0.3s
  }
  #react-waterfall-grid-comps li>div>img {
    width: 100%
  };



@media only screen and (min-width: 700px) {
    .mainbody{
        /* -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3; */
        background-color: #472929;
    }
}

@media only screen and (min-width: 1100px) {
    #react-waterfall-grid-comps {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

/* @media only screen and (min-width: 1100px) {
    .mainbody {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
} */

/* @media screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
} */